* {
  font-family: "Abril Fatface", cursive;
}

html,
body {
  height: 100%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

#root {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
}

.welcome-font {
  font-size: 1.8rem;
}

.message-font {
  font-size: 1.4rem;
}

.card-position {
  top: 200px;
}

.color {
  background-color: #f0eaec;
}

.rounded-circle {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 48px;
  right: 20px;
}

@media only screen and (min-width: 300px) and (max-width: 875px) {
  .col-5 {
    width: 100%;
  }

  .card {
    margin: 0;
  }

  .card-position {
    position: relative;
    top: 150px;
  }

  .welcome-font {
    font-size: 1.4rem;
  }

  .message-font {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 200px) and (max-width: 299px) {
  .col-5 {
    width: 100%;
  }

  .card {
    width: 100%;
    margin: 0;
  }

  .card-position {
    top: 100px;
  }

  .welcome-font {
    font-size: 1.4rem;
  }

  .message-font {
    font-size: 1rem;
  }
}
